.root {
  text-align: center;
  li {
    display: inline-block;

    a {
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 42px;
      cursor: pointer;
      margin: 0 5px;
      border-radius: 30px;
      border: 1px solid #fe5f1e;
      transition: 0.15s ease-in-out;
      color: #fe5f1e;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        color: #fff;
        background-color: #fe5f1e;
      }
    }
  }
}
